@use './variables.scss' as *;
@import '@fontsource/fira-mono';
@import '@fontsource/source-code-pro'; 

:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
				Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@font-face {
	font-family: 'Panton Black';
	src: url('/fonts/panton-black/Panton-Black-Caps.ttf.woff');
}

.black {
	font-family: 'Panton Black';
}

code {
	font-family: 'Source Code Pro', 'Fira Mono', Menlo, Monaco, Consolas, 'Courier New',
				monospace;
}

html {
    visibility: visible;
    opacity: 1;
}

body {
	min-height: 100vh;
	margin: 0;
	overflow-x: hidden;
	background-color: $bg;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

div {
	border-radius: 0.25rem;
}

h1,
h2,
p {
	font-weight: 400;
	color: $primary-fg;
}

p {
	line-height: 1.5;
}

a {
	color: $link-fg;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

h1 {
	font-size: 2rem;
	text-align: center;
	user-select: none;
}

h2 {
	font-size: 1rem;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
	&:focus:not(:focus-visible) {
		outline: none;
	}
}

input {
	outline: none;
	border: none;
	border-radius: 0.25rem;
	padding: 0.4rem;
	margin-top: 0.4rem;
	margin-bottom: 0.4rem;
	color: $primary-fg;
	background-color: $bg;
	box-shadow: none;
}